# CS50P Lecture - 0 & 1

# Variables
* variable is a container that stores value

In [1]:
x = 10 
print(x)

10

# Commments

In [2]:
#this is how to write a single line comment
""" This is for 
Muilti line 
comment"""

' This is for \nMuilti line \ncomment'

In [ ]:
print("Hello, \"friends\"")
# '\' is used because \ is called as a escape character so we can have qoutes in the print statement

Hello, "friends"

### Formating text

In [13]:
name = input("Enter your name").strip().title()
#this will remove the unwanted spaces
print(f"Hello, {name}")
first , last = name.split(" ")
print(f"First Name : '{first}' & Last Name:'{last}'")

Hello, Kasutub Mocherla
First Name : 'Kasutub' & Last Name:'Mocherla'

# Data Types
* int
* float
* complex
 ### Sequential Data type
 * str
 * list
 * tuple
 * range

#### Type Casting

In [ ]:
x = input("enter value of x")
y = input("enter value of y")

#without type casting the values get concatenated
w = x + y
 #with typecasting the values will not get concatenated and they will get added
z = int(x) + int(y)


print(f"W = {w} Z = {z}")

W = 56 Z = 11

- so instead of writing it two diffrent lines, we can write it in one line itself.

In [15]:
x=int(input("enter value of x"))
y=int(input("enter value of y"))
z = x + y
print(z)

11

#### Float

In [19]:
x = float(input("enter the value of x"))
y = float(input("enter the value of y"))
z = x/y
print(f"{z:.4f}")

0.8333

* .2f will give you value upto two decimal places similarly .3f will give three decimal values

## Functions

> Syntax :

In [ ]:
def add(x,y):
    z = x + y
    print(z)
add(5,6)

11

- There are many types of Parameters
1. Positional Arguments
2. Keyword Arguments
3. Default Arguments
4. Arbitrary Arguments
5. Positional-Only Parameters
6. Keyword-Only Parameters

## Conditional Statements

### if else

In [23]:
x = int(input("Enter the value of X"))
if x > 0:
    print("Positive Number")
else:
    print("Negative Number")

Positive Number

### if else ladder

In [25]:
x = int(input("Enter the value of X"))
if x > 90:
    print("A")
elif x > 80 :
    print("B")

B

- bool function

In [ ]:
def main():
    x = int(input("Enter the value of X"))
    if even_no(x):
        print("Even")
    else:
        print("Odd")

def even_no(x):
    if x%2 == 0:
        return True
    else:
        return False

main()

Even

In [30]:
def even_no(x):
    return True if x %2 == 0 else False
    # return n %2 ==0

### Match

In [32]:
options = input("Option : ")
match options:
    case "A":
        print("Option A")
    case "B":
        print("Option B")
    case _:
        print("What ??")

What ??

## Loops

1. While

In [ ]:
i = 3
while i!=0:
    print("meow")
    i -= 1

In [39]:
while True:
    n = int(input("Enter the value of X"))
    if n > 0:
        continue
        if n %2==0:
            print("Even")
        else:
            print("Odd")
    else:
        break

ValueError: invalid literal for int() with base 10: '679p['

2. For

In [ ]:
for i in [0,1,2]:
    print("meow")